.footer {
  padding: $section-padding;
  background-color: $color-charcoal;
  color: $color-white;
  text-align: center;

  &__container {
    max-width: $max-width;
    margin: 0 auto;
  }

  &__message {
    font-family: $font-heading;
    font-style: italic;
    font-size: $font-size-large;
    color: $color-champagne-light;
    margin-bottom: $spacing-sm;
  }

  &__names {
    font-family: $font-heading;
    font-size: 1.3rem;
    color: $color-white;
    margin-bottom: $spacing-xs;
  }

  &__date {
    font-family: $font-body;
    font-size: $font-size-small;
    letter-spacing: $letter-spacing-wide;
    text-transform: uppercase;
    color: $color-charcoal-light;
  }
}
